body {
  font-family: sans-serif;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the top */
  text-align: center; /* Center text */
  font-weight: bold;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.minishakk {
  align-self: flex-start; /* Align to the top left within the container */
  width: 100px;
  height: auto;
}
